# Files and directories created by pub
.dart_tool/
.packages

# Android Studio
.idea/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store

# Flutter
/android
/ios
#!**/resources/android/**

# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# screenshots
example/ios/fastlane
example/android/fastlane
